@import './colors.css';
@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: 'Artifakt Element', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
  }

  p {
    --color-background: #f1fdff;
  }
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./frontend/src/fonts/artifakt-element-regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./frontend/src/fonts/Artifakt-Element-Medium.ttf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./frontend/src/fonts/ArtifaktElement-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
