@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './colors.css';
@import 'tailwindcss';

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --font-artifakt: 'Artifakt Element', sans-serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif !important;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: 'Artifakt Element', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
  }

  p {
    --color-background: #f1fdff;
  }
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./fonts/artifakt-element-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./fonts/Artifakt-Element-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Artifakt Element';
  src: url('./fonts/ArtifaktElement-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .emoji-font {
    font-family: 'Segoe UI Emoji','Apple Color Emoji','Noto Color Emoji','Twemoji Mozilla','EmojiOne Color',sans-serif !important;
  }
}
